{% liquid
  assign img_aspect_ratio = img_aspect_ratio
  assign quick_view_product = quick_view_product
  assign enabled_on_mobile = enabled_on_mobile
  assign button_product_url = button_product_url | within: collection

  assign current_variant = quick_view_product.selected_or_first_available_variant

  assign on_sale = false
  if current_variant.compare_at_price > current_variant.price
    assign on_sale = true
  endif

  if quick_view_product == blank 
    assign enabled_on_mobile = true
  endif
%}

{% capture inventoryPolicy %}
  {% for variant in quick_view_product.variants %}
    {{ variant.id }}:
    {{ variant.inventory_policy }}
    {% unless forloop.last %}|{% endunless %}
  {% endfor %}
{% endcapture %}

{% capture stockCount %}
  {% for variant in quick_view_product.variants %}
    {{ variant.id }}:
    {{ variant.inventory_quantity }}
    {% unless forloop.last %}|{% endunless %}
  {% endfor %}
{% endcapture %}

{% assign inventoryPolicy = inventoryPolicy | strip_newlines | replace: ' ', '' %}
{% assign stockCount = stockCount | strip_newlines | replace: ' ', '' %}

<quick-view 
  class="quick-view-btn-wrapper"
  data-product-url="{{ quick_view_product.url | within: collection }}"
  data-product-id="media-template-{{ quick_view_product.id }}-"
  data-cart-action="{{ settings.cart-action }}"
  data-cart-type="{{ settings.cart-type }}"
  data-inventory-policy="{{ inventoryPolicy }}"
  data-stock-count="{{ stockCount }}"
  data-section-id="{{ section.id }}"
>
  <!-- Quick view button desktop -->
  <div class="d-block position-relative z-2 p-15 w-full pt-0 quick-view-btn-container hide-m-down">
    <button id="quick-view-desktop" data-quick-view-trigger data-product-url="{{ button_product_url }}" class="w-full btn primary-button mt-0 mb-0 quick-view-button opacity-0" aria-label="{{ 'collections.general.quick_view' | t }}">{{ 'collections.general.quick_view' | t }}</button>
  </div>

  <!-- Quick view button mobile -->
  {% if enabled_on_mobile %}
    <div class="d-flex position-relative z-2 w-full quick-view-btn-container hide-m-up">
      <button id="quick-view-mobile" data-quick-view-trigger data-product-url="{{ button_product_url }}" class="w-full mt-0 mb-0 p-10 quick-view-button" aria-label="{{ 'collections.general.quick_view' | t }}">
        {% render 'icons' with icon: 'quick_view', icon_fill_color: settings.add-to-cart-background-color, iconColor: settings.add-to-cart-text-color %}
      </button>
    </div>
  {% endif %}

  <template>
    {% if quick_view_product == blank %}
      <div class="quick-view-onboarding">
    {% endif %}

      <div id="quick-view-media">
        {% if settings.sale_badge %}
          <div class="envy-badge sale-badge product-price__sale-label-{{ quick_view_product.id }}{% unless on_sale %} hide{% endunless %}">{{ 'products.general.sale' | t }}</div>
        {% endif %}

        {% if settings.sold_out_badge and quick_view_product.available == false %}
          <div class="envy-badge sold-out-badge">{{ 'products.product.sold_out' | t }}</div>
        {% endif %}

        {% if quick_view_product != blank %}
          <div class="homepage-sections--indiv-product-slider product-single__thumbnails">
            <div data-swiper-container>
              <div 
                class="aspect-ratio-quick-view"
                data-swiper-wrapper
                data-aspect-ratio="{{ img_aspect_ratio }}"
              >
                {% assign featured_media = current_variant.featured_media | default: product.featured_media %}
                {% render 'product-media', product: quick_view_product, section_id: quick_view_product.id, featured_media_id: featured_media.id, enable_image_zoom: false, enable_video_loop: false, autoplay: false %}
              </div>
            </div>
          </div>
        {% else %}
          <div class="homepage-sections--indiv-product-slider">
            <ul class="slides">
              <li>
                {{ 'product-1' | append: current | placeholder_svg_tag: 'icon--placeholder' }}
              </li>
            </ul>
          </div>
        {% endif %}

        <div class="swiper-controls">
          <div class="thumbs-direction-nav">
            <span class="thumbs-direction-nav--prev" href="#">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-left"><polyline points="15 18 9 12 15 6"></polyline></svg>
            </span>
          </div>

          <div class="swiper-pagination"></div>

          <div class="thumbs-direction-nav">
            <span class="thumbs-direction-nav--next" href="#">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
            </span>
          </div>
        </div>
      </div>

      {% if quick_view_product == blank %}
        <div class="homepage-headline-text__link">
          <h2>{{ 'general.onboarding.product_title' | t }}</h2>
        </div>
      {% else %}
        <span class="homepage-headline-text__link">
          <h2>{{ quick_view_product.title }}</h2>
        </span>
      {% endif %}

      {% unless quick_view_product == blank %}
        {% liquid 
          unless show_sold_out_variants
            unless quick_view_product.available
              assign form_class = 'sold-out-variants-hidden'
            endunless
          endunless
        %}

        {% form 'product', quick_view_product, id: "add-to-cart-form", class: form_class %}
          <input type="hidden" id="cart-link" value="{{ routes.cart_url }}" />

          <ul class="product-page--pricing{% unless show_discount == 'hide' %} discount-badge{% endunless %}">
            {% render 'product-pricing', current_variant: current_variant %}
            {% render 'unit-price-measurement-variant', current_variant: current_variant %}
          </ul>

          {% unless show_discount == 'hide' %}
            <div class="product-page--pricing--discount">
              {% if show_discount == 'percentage' %}
                <span class="variant-percentage-wrapper hide">
                  - <span class="variant-percentage">{{ current_variant.compare_at_price | minus: current_variant.price | times: 100.0 | divided_by: current_variant.compare_at_price | money_without_currency | times: 100 | remove: '.0'}}%</span>
                </span>
              {% endif %}
              {% if show_discount == 'value' %}
                <span class="variant-value-wrapper hide">
                  - <span class="variant-value"><span class="money">{{ current_variant.compare_at_price | minus: current_variant.price | money }}</span></span>
                </span>
              {% endif %}
            </div>
          {% endunless %}

          {% if show_product_description and quick_view_product.description != blank %}
            <div class="product-description">
              <div>{{ quick_view_product.description }}</div>
            </div>
          {% endif %}

          {% assign hide_default_title = false %}
          {% if quick_view_product.variants.size == 1 and quick_view_product.variants.first.title contains 'Default' %}
            {% assign hide_default_title = true %}
          {% endif %}

          <div>

              {% if quick_view_product.variants.size > 0  %}

                {% unless quick_view_product.has_only_default_variant %}
                  {% for option in quick_view_product.options %}
                    {% render 'swatch' with option, product: quick_view_product, section: section, show_swatch_title: show_variant_labels, show_sold_out_variants: show_sold_out_variants %}
                  {% endfor %}
                {% endunless %}

              {% endif %}

              {% render 'product-select', section_id: section.id, variants: quick_view_product.variants %}

              <div class="quantity-controls__outer swatches-wrapper">
                <label for="quantity">{{ 'products.product.quantity' | t }}</label>

                <div class="quantity-controls">
                    <button
                      type="button"
                      class="qty-minus alt-focus"
                      aria-label="Reduce item quantity by one"
                    >-</button>
                    <input
                      id="quantity"
                      class="quantity-selector"
                      value="1"
                      min="1"
                      type="text"
                      name="quantity"
                    >
                    <button
                      type="button"
                      class="qty-plus alt-focus"
                      aria-label="Increase item quantity by one"
                    >+</button>
                </div>
              </div>

              <span id="max-quantity-error" class="d-none">{{ 'cart.general.stock_error' | t }}</span>
              <span id="add-to-cart-errors" class="d-none"></span>

              <div class="w-full featured-product--submit-action">
                <button type="submit" name="add" id="purchase" class="btn {% if show_dynamic_checkout_button and quick_view_product.selling_plan_groups.size == 0 %} secondary-button{% endif %}{% unless current_variant.available %} disabled{% endunless %}" data-cart-action="{% if template == 'cart' %}cart{% else %}{{ settings.cart-action }}{% endif %}"{% unless current_variant.available %} disabled{% endunless %}>
                    {% if current_variant.available %}{{ 'products.product.add_to_cart' | t }}{% else %}{{ 'products.product.sold_out' | t }}{% endif %}
                </button>

                {% if show_dynamic_checkout_button %}
                  {{ form | payment_button }}
                {% endif %}

              </div>
          </div>
        {% endform %}

      {% else %}

        <p>
          {{ 'general.onboarding.product_description' | t }}
        </p>

        <span class="money">$16.99</span>
        <div class="onboarding--sold-out">
          <a class="btn" href="#">
            {{ 'products.product.sold_out' | t }}
          </a>
        </div>

      {% endunless %}

      <a id="quick-view-read-more" href="{% if quick_view_product != blank %}{{ quick_view_product.url }}{% else %}/collections/all{% endif %}">{{ 'products.product.view_all_details' | t }}</a>
      
    {% if quick_view_product == blank %}
      </div>
    {% endif %}
  </template>

  <script type="application/json" id="quick-view-{{ quick_view_product.id }}" class="quick-view-json">
    {{ quick_view_product | json }}
  </script>
</quick-view>
