{{ 'section-contact-form.min.css' | asset_url | stylesheet_tag }}

{% liquid
  assign submit_btn_text = 'contact.form.send' | t
  assign submit_btn_attrs = 'aria-label="' | append: submit_btn_text | append: '"'
%}

<section
  class="section-contact-form homepage-sections-wrapper--{{ section.settings.section_color_scheme }}"
  data-wetheme-section-type="contact-form"
  data-wetheme-section-id="{{ section.id }}"
  style="padding-top: {{ section.settings.padding_top }}px; padding-bottom: {{ section.settings.padding_bottom }}px;"
>
  <div class="contact-left-icon">
    <img src="https://cdn.shopify.com/s/files/1/0091/5413/4113/files/Clip-path4.png?v=1684234812">
  </div>
  <div class="contact-form--wrapper container">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-12">
        <div class="contact-form--header{% if settings.animations_enabled %} wow fadeIn{% endif %}">
          {% if section.settings.section_heading != '' %}
            <h2>{{ section.settings.section_heading }}</h2>
          {% endif %}

          {% if section.settings.sub_heading != '' %}
            <p class="type-subheading type-subheading--1">{{ section.settings.sub_heading }}</p>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <div class="contact-right">
          <div class="contact-1">
            <img src="https://cdn.shopify.com/s/files/1/0091/5413/4113/files/gary-dots.png?v=1684309306">
          </div>
          <div class="contact-2">
            <img src="https://cdn.shopify.com/s/files/1/0091/5413/4113/files/gray-dots2.png?v=1684309309">
          </div>
          {% unless section.blocks.size == 0 %}
            <div class="{% if settings.animations_enabled %} contact-form-wrap wow fadeIn{% if content_header %} delay-1{% endif %}{% endif %}">
              {% form 'contact', id: 'ContactForm', class: 'contact-form--form' %}
                {%- if form.posted_successfully? -%}
                  <script>
                    window.location.replace('https://vanguardstorefixtures.com/pages/thank-you');
                  </script>
                {%- endif -%}
                {% render 'form-errors-custom', form: form %}
                {% if form.posted_successfully? %}
                  <div class="w-full">
                    <p class="note form-success">
                      {{ 'contact.form.post_success' | t }}
                    </p>
                  </div>
                {% endif %}

                {% for block in section.blocks %}
                  {% liquid
                    assign input_wrapper = 'input-wrapper '
                    case block.settings.input_width
                      when 'partial'
                        assign input_width = 'w-partial' | prepend: input_wrapper
                      when 'full'
                        assign input_width = 'w-full' | prepend: input_wrapper
                    endcase

                    assign requiredSymbol = ''
                    if block.settings.required
                      assign requiredSymbol = '*'
                    endif
                  %}

                  {% case block.type %}
                    {% when 'name_input' %}
                      <div class="{{ input_width }}">
                        {% liquid
                          assign nameInputString = 'contact.form.name' | t
                          assign formName = 'contact[' | append: nameInputString | append: ']'
                          assign labelInput = nameInputString | prepend: requiredSymbol
                          assign formId = 'form_' | append: nameInputString | downcase | handleize
                          assign input_attr = 'aria-labelledby="' | append: formId | append: '" data-aid="name-input"'
                          if form.name
                            assign nameInputVal = form.name
                          elsif customer
                            assign nameInputVal = customer.name
                          endif

                          render 'form-input' with type: 'text', has_label: true, animate_label: false, id: formId, value: nameInputVal, name: formName, required: block.settings.required, attributes: input_attr , placeholder: "Name"
                        %}
                      </div>

                    {% when 'email_input' %}
                      <div class="{{ input_width }}">
                        {% liquid
                          assign emailInputString = 'contact.form.email' | t
                          assign formEmailName = 'contact[' | append: emailInputString | downcase | append: ']'
                          assign labelInput = emailInputString | prepend: requiredSymbol
                          assign formId = 'form_' | append: emailInputString | downcase | handleize
                          assign input_attr = 'aria-labelledby="' | append: formId | append: '" data-aid="email-input"'
                          if form.email
                            assign emailInputVal = form.email
                          elsif customer
                            assign emailInputVal = customer.email
                          endif

                          render 'form-input' with type: 'email', has_label: true, animate_label: false, id: formId, value: emailInputVal, name: formEmailName, required: block.settings.required, attributes: input_attr , placeholder: "Email"
                        %}
                      </div>

                    {% when 'tel_input' %}
                      <div class="{{ input_width }}">
                        {% liquid
                          assign telInputString = 'contact.form.phone' | t
                          assign formTelName = 'contact[' | append: telInputString | append: ']'
                          assign labelInput = telInputString | prepend: requiredSymbol
                          assign formId = 'form_' | append: telInputString | downcase | handleize
                          assign input_attr = 'aria-labelledby="' | append: formId | append: '" data-aid="tel-input"'
                          if form.phone
                            assign phoneInputVal = form.phone
                          elsif customer
                            assign phoneInputVal = customer.phone
                          endif

                          render 'form-input' with type: 'tel', has_label: true, animate_label: false, id: formId, value: phoneInputVal, name: formTelName, required: block.settings.required, attributes: input_attr , placeholder: "Phone"
                        %}
                      </div>

                    {% when 'message_input' %}
                      <div class="{{ input_width }}">
                        {% liquid
                          assign msgInputString = 'contact.form.message' | t
                          assign formMsgName = 'contact[' | append: msgInputString | append: ']'
                          assign labelInput = msgInputString | prepend: requiredSymbol
                          assign formId = 'form_' | append: msgInputString | downcase | handleize
                          assign input_attr = 'aria-labelledby="' | append: formId | append: '" data-aid="message-input"'

                          render 'form-input--textarea' with id: formId, name: formMsgName, has_label: true, animate_label: false, attributes: input_attr, required: block.settings.required, content: form.body , placeholder: "Message"
                        %}
                      </div>

                    {% when 'custom_input' %}
                      <div class="{{ input_width }}">
                        {% liquid
                          assign labelInput = block.settings.input_label | prepend: requiredSymbol
                          assign labelHandleize = labelInput | downcase | handleize
                          assign formId = 'form_' | append: labelHandleize
                          assign inputName = 'contact[' | append: labelHandleize | append: ']'
                          assign input_attr = 'aria-labelledby="' | append: formId | append: '" data-aid="' | append: formId | append: '"'
                        %}
                        {% render 'form-input' with type: 'text', has_label: true, animate_label: false, id: formId, value: form.body, name: inputName, required: block.settings.required, attributes: input_attr , placeholder: "Custom Input" %}
                      </div>
                  {% endcase %}
                {% endfor %}

                <div class="contact-form--submit-wrapper w-full">
                  <input type="submit" class="btn" value="{{ 'contact.form.send' | t }}">
                </div>
              {% endform %}
            </div>
          {% else %}
            <div class="placeholder-noblocks{% if settings.animations_enabled %} wow fadeIn{% if content_header %} delay-1{% endif %}{% endif %}">
              {{ 'general.onboarding.no_content' | t }}
            </div>
          {% endunless %}
        </div>
      </div>
      <div class="col-lg-6 col-md-12 contact-left-col">
        {% assign content_header = false %}
        {% if section.settings.section_heading != '' or section.settings.sub_heading != '' %}
          {% assign content_header = true %}

          <ul>
            {% if section.settings.location != blank %}
              <li>
                <div class="contact-info-img">
                  <img src="https://cdn.shopify.com/s/files/1/0790/3094/4025/files/map.png?v=1689256102">
                </div>
                <h3>OUR LOCATION</h3>
                <p>{{ section.settings.location }}</p>
              </li>
            {% endif %}
            {% if section.settings.timing != blank %}
              <li>
                <div class="contact-info-img">
                  <img src="https://cdn.shopify.com/s/files/1/0790/3094/4025/files/Vector_5.png?v=1689256101">
                </div>
                <h3>HOURS OF OPERATION:</h3>
                <p>{{ section.settings.timing }}</p>
              </li>
            {% endif %}
            {% if section.settings.number != blank %}
              <li>
                <div class="contact-info-img">
                  <img src="https://cdn.shopify.com/s/files/1/0790/3094/4025/files/Vector_6.png?v=1689256101">
                </div>
                <h3>PHONE:</h3>
                <p>{{ section.settings.number }}</p>
              </li>
            {% endif %}
            {% if section.settings.email != blank %}
              <li>
                <div class="contact-info-img">
                  <img src="https://cdn.shopify.com/s/files/1/0790/3094/4025/files/Group_71.png?v=1689256101">
                </div>
                <h3>EMAIL:</h3>
                <p>{{ section.settings.email }}</p>
              </li>
            {% endif %}
          </ul>
        {% endif %}
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Inquery form",
  "tag": "section",
  "class": "shopify-section",
  "settings": [
    {
      "type": "paragraph",
      "content": "The contact form sends all submissions to the Sender email address of your store. You can edit this email in your Shopify admin settings > Store details > Contact information."
    },
    {
      "type": "select",
      "id": "section_color_scheme",
      "label": {
        "en": "Color scheme",
        "de": "Farbschema",
        "es": "Esquema de colores",
        "fr": "Palette de couleurs",
        "pt-PT": "Esquema de cores"
      },
      "default": "white",
      "options": [
        {
          "value": "white",
          "label": "White"
        },
        {
          "value": "light",
          "label": "Light"
        },
        {
          "value": "accent",
          "label": "Accent"
        },
        {
          "value": "dark",
          "label": "Dark"
        }
      ]
    },
    {
      "type": "text",
      "id": "section_heading",
      "label": "Heading"
    },
    {
      "type": "textarea",
      "id": "sub_heading",
      "label": "Sub Heading"
    },
    {
      "type": "richtext",
      "id": "location",
      "label": "Location"
    },
    {
      "type": "richtext",
      "id": "timing",
      "label": "Operation Time"
    },
    {
      "type": "richtext",
      "id": "number",
      "label": "Phone Number"
    },
    {
      "type": "richtext",
      "id": "email",
      "label": "Email-Id"
    },
    {
      "type": "header",
      "content": "Section spacing"
    },
    {
      "type": "select",
      "id": "section_width",
      "label": "Width",
      "options": [
        {
          "value": "container-full-width",
          "label": "Full width"
        },
        {
          "value": "container",
          "label": "Page width"
        },
        {
          "value": "container-narrow",
          "label": "Narrow"
        }
      ],
      "default": "container-narrow"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Padding top",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "default": 50
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Padding bottom",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "default": 50
    }
  ],
  "blocks": [
    {
      "name": "Name field",
      "type": "name_input",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "required",
          "label": "Required",
          "default": true
        },
        {
          "type": "select",
          "id": "input_width",
          "label": "Input width",
          "options": [
            {
              "value": "partial",
              "label": "Partial"
            },
            {
              "value": "full",
              "label": "Full"
            }
          ],
          "default": "full"
        }
      ]
    },
    {
      "name": "Email field",
      "type": "email_input",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "required",
          "label": "Required",
          "default": true
        },
        {
          "type": "select",
          "id": "input_width",
          "label": "Input width",
          "options": [
            {
              "value": "partial",
              "label": "Partial"
            },
            {
              "value": "full",
              "label": "Full"
            }
          ],
          "default": "full"
        }
      ]
    },
    {
      "name": "Telephone field",
      "type": "tel_input",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "required",
          "label": "Required",
          "default": false
        },
        {
          "type": "select",
          "id": "input_width",
          "label": "Input width",
          "options": [
            {
              "value": "partial",
              "label": "Partial"
            },
            {
              "value": "full",
              "label": "Full"
            }
          ],
          "default": "full"
        }
      ]
    },
    {
      "name": "Message field",
      "type": "message_input",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "required",
          "label": "Required",
          "default": true
        },
        {
          "type": "select",
          "id": "input_width",
          "label": "Input width",
          "options": [
            {
              "value": "partial",
              "label": "Partial"
            },
            {
              "value": "full",
              "label": "Full"
            }
          ],
          "default": "full"
        }
      ]
    },
    {
      "name": "Custom field",
      "type": "custom_input",
      "limit": 8,
      "settings": [
        {
          "type": "text",
          "id": "input_label",
          "label": "Input name",
          "default": "Order number"
        },
        {
          "type": "checkbox",
          "id": "required",
          "label": "Required",
          "default": false
        },
        {
          "type": "select",
          "id": "input_width",
          "label": "Input width",
          "options": [
            {
              "value": "partial",
              "label": "Partial"
            },
            {
              "value": "full",
              "label": "Full"
            }
          ],
          "default": "full"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Inquery form",
      "settings": {},
      "blocks": [
        {
          "type": "name_input",
          "settings": {
            "required": true,
            "input_width": "full"
          }
        },
        {
          "type": "email_input",
          "settings": {
            "required": true,
            "input_width": "full"
          }
        },
        {
          "type": "tel_input",
          "settings": {
            "required": false,
            "input_width": "full"
          }
        },
        {
          "type": "message_input",
          "settings": {
            "required": true,
            "input_width": "full"
          }
        }
      ]
    }
  ],
  "disabled_on": {
    "groups": ["header"]
  }
}
{% endschema %}
