{{ 'https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js' | script_tag }}
{% case section.settings.colors %}
    {% when 'white' %}
    <div class="homepage-sections-wrapper homepage-sections-wrapper--white timeline-container">
  {% when 'light' %}
    <div class="homepage-sections-wrapper homepage-sections-wrapper--light">
  {% when 'accent' %}
    <div class="homepage-sections-wrapper homepage-sections-wrapper--accent">
  {% when 'dark' %}
    <div class="homepage-sections-wrapper homepage-sections-wrapper--dark">
{% endcase %}
      
<div class="container">
  <div class="timeline  container py-2 mt-4 mb-4">
    {% if section.settings.heading != blank %}
      <h2>{{ section.settings.heading }}</h2>
    {% endif %}
    <span class="default-line"></span>
    <span class="draw-line"></span>
    {% assign variable = 1 %}
    {% for block in section.blocks %}
    <div class="event row no-gutters">
        {% if block.settings.image != blank %}
        <div class="icon col-sm d-flex align-items-center justify-content-end">
          <img src="{{ block.settings.image | img_url: 'master' }}" alt="{{ block.settings.image.alt }}">
        </div>
        {% endif %}
      <div class="time col-sm-1 text-center flex-column d-none d-sm-flex">
        <div class="row h-50">
          <div class="col-6 offset-6"></div>
        </div>
        <h5 class="m-2">
          <span class="dot d-inline-block rounded-circle bg-color1"></span>
        </h5>
        <div class="row h-50">
          <div class="col-6 offset-6 "></div>
        </div>
      </div>
      
      <div class="detail col-sm ">
        <div class="card">
          <div class="box-card readCont">
            {% if block.settings.icon-image != blank or block.settings.icon_heading != blank or block.settings.description != blank %}
              <div class="box-wrap">
                {% if block.settings.icon-image != blank %}
                  <img src="{{ block.settings.icon-image | img_url:'master' }}" alt="{{ block.settings.icon-image.alt }}">
                {% endif %}                
                <div class="number-i">
                  {{ variable }}
                </div>
              </div>
              {% if block.settings.icon_heading != blank %}
                <h4>{{ block.settings.icon_heading }}</h4>
              {% endif %}
              {% if block.settings.description != blank %}
                {% assign words = block.settings.description | split: ' ' %}
                {% assign trimmed_words = words | slice: 0, 15 | join: ' ' %}
                <!-- <p id="halCont">{{ trimmed_words }}.....</p> -->
                <p id="full-content">{{ block.settings.description }}</p>
                <!-- <a href="javascript:void(0)" class="seemore btn">See More</a>
                <a href="javascript:void(0)" class="seeless btn" style="display: none;">See Less</a> -->
              {% endif %}
            {% endif %}
          </div>
        </div>
      </div>
      
    </div>
    {% assign variable = variable | plus: 1 %}
    {% endfor %}
  </div>

       <div class="for-mobile-timeline  container py-2">
    {% if section.settings.heading != blank %}
      <h2>{{ section.settings.heading }}</h2>
    {% endif %}

    {% assign variable = 1 %}
      <div class="for-mobile-timeline-flex">
    {% for block in section.blocks %}
    
    <div class="event row no-gutters">
        {% if block.settings.image != blank %}
        <div class="icon col-sm d-flex align-items-center justify-content-end">
          <img src="{{ block.settings.image | img_url: 'master' }}" alt="{{ block.settings.image.alt }}">
        </div>
        {% endif %}
   
      
      <div class="detail col-sm ">
        <div class="card">
          <div class="box-card">
            {% if block.settings.icon-image != blank or block.settings.icon_heading != blank or block.settings.description != blank %}
              <div class="box-wrap">
                {% if block.settings.icon-image != blank %}
                  <img src="{{ block.settings.icon-image | img_url:'master' }}" alt="block.settings.icon-image.alt">
                {% endif %}                
                <div class="number-i">
                  {{ variable }}
                </div>
              </div>
              {% if block.settings.icon_heading != blank %}
                <h4>{{ block.settings.icon_heading }}</h4>
              {% endif %}
              {% if block.settings.description != blank %}
                <p>{{ block.settings.description }}</p>
              {% endif %}
            {% endif %}
          </div>
        </div>
      </div>
      
    </div>
      
    {% assign variable = variable | plus: 1 %}
    {% endfor %}
     </div>
  </div>
</div>
 
      </div>
{% schema %}
  {
    "name": "Feature Process",
    "tag": "section",
    "class": "homepage-section--process-wrapper wow fadeIn",
    "settings": [
      {
			"type": "select",
			"id": "colors",
			"label": "Color scheme",
			"default": "white",
			"options": [
				{
					"value": "white",
					"label": "White"
				},
				{
					"value": "light",
					"label": "Light"
				},
				{
					"value": "accent",
					"label": "Feature"
				},
				{
					"value": "dark",
					"label": "Dark"
				}
			],
			"info": "The colors in each 'scheme' can be changed in the 'General settings' > 'Colors' section of your admin"
		},
      {
        "type": "text",
        "id": "heading",
        "label": "heading"
      }
    ],
    "blocks": [
      {
        "type": "html",
        "name": "custom process",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Select Image"
          },
          {
            "type": "image_picker",
            "id": "icon-image",
            "label": "Icon image"
          },
          {
            "type": "text",
            "id": "icon_heading",
            "label": "Heading"
          },
          {
            "type": "textarea",
            "id": "description",
            "label": "icon Desription"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Feature Process",
        "category": "Advanced layout",
        "blocks": [
          {
            "type": "html"
          }
        ]
      }
    ]
  }
{% endschema %}
<script>
  (function () {
    "use strict";

    // define variables
    var items = document.querySelectorAll(".timeline .event");

    // check if an element is in viewport
    function isElementInViewport(el) {
      var rect = el.getBoundingClientRect();
      return (
        rect.top >= 0 &&
        rect.left >= 0 &&
        rect.bottom <=
        (window.innerHeight || document.documentElement.clientHeight) &&
        rect.right <= (window.innerWidth || document.documentElement.clientWidth)
      );
    }

    function callbackFunc() {
      for (var i = 0; i < items.length; i++) {
        if (isElementInViewport(items[i])) {
          items[i].classList.add("in-view");
        }
      }
    }

    // listen for events
    window.addEventListener("load", callbackFunc);
    window.addEventListener("resize", callbackFunc);
    window.addEventListener("scroll", callbackFunc);
  })();

  // Timeline Scroll Section
  // --------------------------------------------------------------
  var items = $(".timeline li"),
    timelineHeight = $(".timeline ul").height(),
    greyLine = $('.default-line'),
    lineToDraw = $('.draw-line');

  // sets the height that the greyLine (.default-line) should be according to `.timeline ul` height

  // run this function only if draw line exists on the page
  if (lineToDraw.length) {
    $(window).on('scroll', function () {

      // Need to constantly get '.draw-line' height to compare against '.default-line'
      var redLineHeight = lineToDraw.height(),
        greyLineHeight = greyLine.height(),
        windowDistance = $(window).scrollTop(),
        windowHeight = $(window).height() / 4,
        timelineDistance = $(".timeline").offset().top;

      if (windowDistance >= timelineDistance - windowHeight) {
        line = windowDistance - timelineDistance + windowHeight;

        if (line <= greyLineHeight) {
          lineToDraw.css({
            'height': line + 20 + 'px'
          });
        }
      }

      // This takes care of adding the class in-view to the li:before items
      var bottom = lineToDraw.offset().top + lineToDraw.outerHeight(true);
      items.each(function (index) {
        var circlePosition = $(this).offset();

        if (bottom > circlePosition.top) {
          $(this).addClass('in-view');
        } else {
          $(this).removeClass('in-view');
        }
      });
    });
  }
</script>