<style> 
@media only screen and (min-width: 3601px){
      .shopify-section.gandola-text-half h1.benefits_heading {
        font-size: 6.5em !important;
    }
      .shopify-section.gandola-text-half span.text_content p {
        font-size: 40px !important;
    }
}
@media only screen and (min-width: 3401px) and (max-width: 3600px){
      .shopify-section.gandola-text-half h1.benefits_heading {
        font-size: 6em !important;
    }
      .shopify-section.gandola-text-half span.text_content p {
        font-size: 32px !important;
    }
}
@media only screen and (min-width: 3201px) and (max-width: 3400px){
      .shopify-section.gandola-text-half h1.benefits_heading {
        font-size: 5.5em !important;
    }
      .shopify-section.gandola-text-half span.text_content p {
        font-size: 30px !important;
    }
}
@media only screen and (min-width: 2900px) and (max-width: 3200px){
      .shopify-section.gandola-text-half h1.benefits_heading {
        font-size: 4.5em !important;
    }
      .shopify-section.gandola-text-half span.text_content p {
        font-size: 26px !important;
    }
}
@media only screen and (min-width: 2600px) and (max-width: 2899px){
      .shopify-section.gandola-text-half h1.benefits_heading {
        font-size: 4em !important;
    }
      .shopify-section.gandola-text-half span.text_content p {
        font-size: 24px !important;
    }
}
@media only screen and (min-width: 2401px) and (max-width: 2599px){
      .shopify-section.gandola-text-half h1.benefits_heading {
        font-size: 3.5em !important;
    }
      .shopify-section.gandola-text-half span.text_content p {
        font-size: 22px !important;
    }
}
@media only screen and (min-width: 2100px) and (max-width: 2400px){
      .shopify-section.gandola-text-half h1.benefits_heading {
        font-size: 3em !important;
    }
      .shopify-section.gandola-text-half span.text_content p {
        font-size: 20px !important;
    }
}
@media only screen and (min-width: 2000px) and (max-width: 2099px){
      .shopify-section.gandola-text-half h1.benefits_heading {
        font-size: 2.5em !important;
    }
      .shopify-section.gandola-text-half span.text_content p {
        font-size: 18px !important;
    }
}
@media only screen and (min-width: 1000px){
    .shopify-section.gandola-text-half {
        width: 40% !important;
        display: flex;
      padding: 50px 40px 20px 0;
    }
  .shopify-section.gandola-text-half h1.benefits_heading {
    width: 80%;
    line-height: 1.5;
}
}
@media only screen and (max-width: 999px){
    .shopify-section.gandola-text-half {
        width: 100% !important;
      padding: 50px 40px;
    }
}
  .shopify-section.gandola-text-half .common-btnBtn-bookConsultation.text-center a.common-btn {
    font-weight: 600 !important;
    letter-spacing: 0;
    font-size: 20px !important;
    border-radius: 10px !important;
    padding-left: 20px;
        margin-top: 20px;
    border: 2px solid #000;
        background-color: #CC0000 !important;
}
@media only screen and (max-width: 500px){
  .shopify-section.gandola-text-half .common-btnBtn-bookConsultation.text-center a.common-btn {
    font-size: 16px !important;
    padding-right: 35px !important;
}
}


  
  
#myForm1{
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
      z-index: 999;
}

#myForm1 .modal-content {
  background-color: transparent;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 90% !important;
      height: auto !important;
      border-color: transparent;
}

#myForm1 .closing2 {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  text-align: right;
      position: absolute;
    right: 5%;
    top: 3%;
    z-index: 9999;
}

#myForm1 .closing2:hover,
#myForm1 .closing2:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.shopify-section.gandola-text-half button.button.globo-formbuilder-open {
    background-color: #CC0000 !important;
    text-align: center;
    margin: 0 auto;
    display: block;
    font-size: 20px !important;
    color: #fff;
    border-radius: 10px !important;
    padding: 12px 15px;
  text-transform: uppercase;
    font-weight: 600 !important;
  letter-spacing: 0;
  border:2px solid #000;
}

  @media only screen and (min-width: 900px){
    #myForm1 .modal-content{
          width: 35% !important;
    }
  }
  /*@media only screen and (min-width: 901px) and (max-width: 1100px){
    #myForm1 .modal-content{
          width: 60% !important;
    }
  #myForm1 .closing2{
    right: 5% !important;
    top: 5% !important;
  }
  }
  @media only screen and (min-width: 1101px) and (max-width: 1700px){
  #myForm1 .closing2{
    right: 6% !important;
    top: 5% !important;
  }
  }
  @media only screen and (min-width: 1701px) and (max-width: 1800px){
  #myForm1 .closing2{
    right: 9% !important;
    top: 5% !important;
  }
  }
  @media only screen and (min-width: 1981px) and (max-width: 2150px){
  #myForm1 .closing2{
    right: 15% !important;
  }
  }
  @media only screen and (min-width: 2151px) and (max-width: 2300px){
  #myForm1 .closing2{
    right: 17% !important;
  }
  }
  @media only screen and (min-width: 2301px) and (max-width: 2600px){
  #myForm1 .closing2{
    right: 21% !important;
  }
  }
  @media only screen and (min-width: 2601px) and (max-width: 2850px){
  #myForm1 .closing2{
    right: 24% !important;
  }
  }
  @media only screen and (min-width: 2851px) and (max-width: 3000px){
  #myForm1 .closing2{
    right: 25% !important;
  }
  }
  @media only screen and (min-width: 3001px) and (max-width: 3250px){
  #myForm1 .closing2{
    right: 28% !important;
  }
  }
  @media only screen and (min-width: 3251px) and (max-width: 3450px){
  #myForm1 .closing2{
    right: 30% !important;
  }
  }
  @media only screen and (min-width: 3451px) and (min-width: 3600px){
  #myForm1 .closing2{
    right: 35% !important;
  }
  }
  @media only screen and (min-width: 3651px) and (min-width: 3800px){
  #myForm1 .closing2{
    right: 37% !important;
  }
  }
  @media only screen and (min-width: 3801px){
  #myForm1 .closing2{
    right: 40% !important;
  }
  }
  @media only screen and (min-width: 769px) and (max-width: 900px){
  #myForm1 .closing2{
    right: 14% !important;
    top: 5% !important;
  }
  }*/

  @media only screen and (max-width: 768px){
  #myForm1 .closing2{
    right: 7% !important;
    top: 5% !important;
  }
  }
  div#myForm1 .contact-form-wrap {
    max-width: 100% !important;
    width: 100%;
    margin: 0 auto;
        background: #fff;
    text-align: center;
}
  div#myForm1 .contact-form-wrap textarea#form_message {
    width: 100%;
    padding: 15px;
    background: #ccc !important;
}
  div#myForm1 .contact-form-wrap input#form_name, div#myForm1 .contact-form-wrap input#form_email, div#myForm1 .contact-form-wrap input#form_phone-number {
    background: #ccc !important;
}
  div#myForm1 .contact-form-wrap .contact-form--submit-wrapper input.btn {
    background: #CC0000 !important;
    font-size: 18px !important;
    font-weight: 600 !important;
}
  div#myForm1 .contact-form-wrap p.type-subheading {
    color: #000;
}
  div#myForm1 .input-wrapper.w-half {
    width: 50%;
    float: left;
}
  div#myForm1 .contact-form-wrap .input-wrapper.w-full {
    margin-bottom: 15px;
    clear: both;
}
  div#myForm1 .input-wrapper.w-half.ggright {
    padding-right: 15px;
}
  div#myForm1 .input-wrapper.w-full.checkbox_data input#contact_checkbox {
    height: auto;
    width: auto;
}
  div#myForm1 .input-wrapper.w-full.checkbox_data label {
    text-align: left;
    padding-left: 15px;
}
  div#myForm1 .input-wrapper.w-full.checkbox_data {
    display: flex;
}

  .custom-file-input {
  position: relative;
  overflow: hidden;
  display: inline-block;
  cursor: pointer;
    height: auto;
    opacity: 1;
}

.custom-file-input input[type="file"] {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

.custom-file-input label {
  display: block;
  padding: 10px;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}

.custom-file-input label:hover {
  background-color: #e1e1e1;
}
#contact_checkbox:after{content: none;}

#myModalCatalog{
  display: none;
  position: fixed;
  z-index: 999;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

#myModalCatalog .modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80% !important;
  height: 80%;
}

#myModalCatalog .closing12 {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  text-align: right;
  cursor: pointer;
}
#myModalShelvingCatalog{
  display: none;
  position: fixed;
  z-index: 999;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

#myModalShelvingCatalog .modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80% !important;
  height: 80%;
}

#myModalShelvingCatalog .closing124 {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  text-align: right;
  cursor: pointer;
}

#myModalRX{
  display: none;
  position: fixed;
  z-index: 999;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

#myModalRX .modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80% !important;
  height: 80%;
}

#myModalRX .closing123 {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  text-align: right;
  cursor: pointer;
}

#myModalConsult{
  display: none;
  position: fixed;
  z-index: 999;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

#myModalConsult .modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80% !important;
  height: 80%;
}

#myModalConsult .closing1234 {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  text-align: right;
  cursor: pointer;
}
</style>
<div class="p-0 {{ section.settings.custom_class }}" {{ section_style_attr }}>
      <div class="col-lg-12 p-0">
        <div class="half_data">
            {% if section.settings.heading != blank %}
              <h1 class="benefits_heading">
                {{ section.settings.heading }}
              </h1>
            {% endif %}
            {% if section.settings.text_cont != blank %}
              <span class="text_content">
                {{ section.settings.text_cont }}
              </span>
            {% endif %}
          {% comment %}
          <button class="button globo-formbuilder-open btn" data-id="NDU2Nzk=">Book A Consultation</button>
          {% endcomment %}
            {% if section.settings.button_label != blank and section.settings.button_link != blank %}
                  <div class="common-btnBtn-bookConsultation text-center">
                    <a href="javascript:;" class="common-btn btn btnBlack btnLg" id="viewForm">
                      {{- section.settings.button_label -}}
                    </a>
                  </div>
<div id="myForm1" class="modal">
  <div class="modal-content">
    <span class="closing2">&times;</span>
    
            <div class="contact-form-wrap " style="visibility: visible !important;">
              <h2>RECEIVE A FREE CONSULTATION</h2>
              {% comment %}
              <p class="type-subheading type-subheading--1">Contact us today to receive help in creating the perfect retail space for your business, that not only attracts and retains customers, but also promotes efficient business operations. Receive your free consultation within within 24 hours.</p>
              {% endcomment %}
              <p class="type-subheading type-subheading--1">Our trusted team will gladly help with all your project needs.</p>
              {% form 'contact', id: 'ContactForm', class: 'contact-form--form' %}
                {%- if form.posted_successfully? -%}
                  <script>
                    window.location.replace("https://vanguardstorefixtures.com/pages/thank-you");
                  </script>
                {%- endif -%}
                {% render 'form-errors-custom', form: form %}
                {% if form.posted_successfully? %}
                  <div class="w-full">
                    <p class="note form-success">
                      {{ 'contact.form.post_success' | t }}
                    </p>
                  </div>
                {% endif %}

                      <div class="input-wrapper w-half ggright">
                        {% liquid
                          assign nameInputString = 'contact.form.name' | t
                          assign formName = 'contact[' | append: nameInputString | append: ']'
                          assign labelInput = nameInputString | prepend: requiredSymbol
                          assign formId = 'form_' | append: nameInputString | downcase | handleize
                          assign input_attr = 'aria-labelledby="' | append: formId | append: '" data-aid="name-input"'
                          if form.name
                            assign nameInputVal = form.name
                          elsif customer
                            assign nameInputVal = customer.name
                          endif

                          render 'form-input' with type: 'text', has_label: true, animate_label: false, id: formId, value: nameInputVal, name: formName, required: true, attributes: input_attr , placeholder: "Name*"
                        %}
                      </div>
                
                      <div class="input-wrapper w-half">
                        {% liquid
                          assign companyInputString = 'contact.form.name' | t
                          assign formName = 'contact[' | append: companyInputString | append: ']'
                          assign labelInput = companyInputString | prepend: requiredSymbol
                          assign formId = 'form_' | append: companyInputString | downcase | handleize
                          assign input_attr = 'aria-labelledby="' | append: formId | append: '" data-aid="company-input"'
                          if form.company
                            assign companyInputVal = form.name
                          elsif customer
                            assign companyInputVal = customer.name
                          endif

                          render 'form-input' with type: 'text', has_label: true, animate_label: false, id: formId, value: companyInputVal, name: formName, required: block.settings.required, attributes: input_attr , placeholder: "Company"
                        %}
                      </div>

                      <div class="input-wrapper w-half ggright">
                        {% liquid
                          assign telInputString = 'contact.form.phone' | t
                          assign formTelName = 'contact[' | append: telInputString | append: ']'
                          assign labelInput = telInputString | prepend: requiredSymbol
                          assign formId = 'form_' | append: telInputString | downcase | handleize
                          assign input_attr = 'aria-labelledby="' | append: formId | append: '" data-aid="tel-input"'
                          if form.phone
                            assign phoneInputVal = form.phone
                          elsif customer
                            assign phoneInputVal = customer.phone
                          endif

                          render 'form-input' with type: 'tel', has_label: true, animate_label: false, id: formId, value: phoneInputVal, name: formTelName, required: true, attributes: input_attr , placeholder: "Phone*"
                        %}
                      </div>

                      <div class="input-wrapper w-half">
                        {% liquid
                          assign emailInputString = 'contact.form.email' | t
                          assign formEmailName = 'contact[' | append: emailInputString | downcase | append: ']'
                          assign labelInput = emailInputString | prepend: requiredSymbol
                          assign formId = 'form_' | append: emailInputString | downcase | handleize
                          assign input_attr = 'aria-labelledby="' | append: formId | append: '" data-aid="email-input"'
                          if form.email
                            assign emailInputVal = form.email
                          elsif customer
                            assign emailInputVal = customer.email
                          endif

                          render 'form-input' with type: 'email', has_label: true, animate_label: false, id: formId, value: emailInputVal, name: formEmailName, required: true, attributes: input_attr , placeholder: "Email*"
                        %}
                      </div>

                      <div class="input-wrapper w-full">
                        {% liquid
                          assign msgInputString = 'contact.form.message' | t
                          assign formMsgName = 'contact[' | append: msgInputString | append: ']'
                          assign labelInput = msgInputString | prepend: requiredSymbol
                          assign formId = 'form_' | append: msgInputString | downcase | handleize
                          assign input_attr = 'aria-labelledby="' | append: formId | append: '" data-aid="message-input"'

                          render 'form-input--textarea' with id: formId, name: formMsgName, has_label: true, animate_label: false, attributes: input_attr, required: true, content: form.body , placeholder: "What can we help you with?*"
                        %}
                      </div>
                      <div class="input-wrapper w-full custom-file-input">
                        <input type="file" id="contact_file" name="contact[attachment]" accept=".pdf, .dwg, .dxf, .png, .jpg, .jpeg, application/pdf, image/*">

                            <!--input type="file" id="contact_file" name="contact[attachment]" accept="application/pdf,image, .dwg, .dxf, .png, .jpg, .jpeg, .pdf/*" -->
                        <label>Attach any files that will help with the consultation, for example: floor plans, drawings, reference images, design visions, etc.</label>
                <div id="file-label"></div>
                        <input type="hidden" id="image_path" name="contact[file]" value="" />
                      </div>
                      <div class="input-wrapper w-full checkbox_data">
                        <input type="checkbox" id="contact_checkbox" name="contact[terms]" required checked>
                        <label for="contact_checkbox">By submitting this form, I agree to be contacted by Vanguard Store Fixtures Inc. through a phone call, email, or text message.</label>
                      </div>
                <div class="contact-form--submit-wrapper w-full">
                  <input type="submit" class="btn" value="{{ 'contact.form.send' | t }}">
                </div>
              {% endform %}
            </div>
  </div>
</div>



<div id="myModalCatalog" class="modal">
  <div class="modal-content">
    <span class="closing12">&times;</span>
    <embed src="https://cdn.shopify.com/s/files/1/0784/4941/0346/files/Vanguard_Shelving_Catalog.pdf?v=1731617570" frameborder="0" width="100%" height="90%">
  </div>
</div>
              
<div id="myModalShelvingCatalog" class="modal">
  <div class="modal-content">
    <span class="closing124">&times;</span>
    <embed src="https://cdn.shopify.com/s/files/1/0784/4941/0346/files/Vanguard_Shelving_Catalog.pdf?v=1731617570" frameborder="0" width="100%" height="90%">
  </div>
</div>

<div id="myModalRX" class="modal">
  <div class="modal-content">
    <span class="closing123">&times;</span>
    <embed src="https://cdn.shopify.com/s/files/1/0784/4941/0346/files/RX_Zone_Fixtures_Catalog_C.pdf?v=1731621089" frameborder="0" width="100%" height="90%">
  </div>
</div>

<div id="myModalConsult" class="modal">
  <div class="modal-content">
    <span class="closing1234">&times;</span>
    <embed src="https://cdn.shopify.com/s/files/1/0784/4941/0346/files/S-Pace_Consultation_Catalog.pdf?v=1731617580" frameborder="0" width="100%" height="90%">
  </div>
</div>


{% if page.template_suffix == 'gondola_shelving_new' or page.template_suffix == 'gondola_shelving_usa' %}
<script>
var modal = document.getElementById("myModalCatalog");
var btn = document.querySelectorAll(".gandola_half_anchor .text_content a");
var span = document.getElementsByClassName("closing12")[0];
    jQuery(".gandola_half_anchor .text_content a").on('click', function(){
  modal.style.display = "block";
    });
/*btn.onclick = function() {
  alert('yes');
  modal.style.display = "block";
}*/
span.onclick = function() {
  modal.style.display = "none";
}
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>
{% endif %}
              
{% if page.template_suffix == 'pharmacy' %}
<script>
var modal5 = document.getElementById("myModalShelvingCatalog");
var btn5 = document.querySelectorAll(".pharmacy_half_anchor ul li:nth-child(1) a");
var span5 = document.getElementsByClassName("closing124")[0];
    jQuery(".pharmacy_half_anchor ul li:nth-child(1) a").on('click', function(e){
    e.preventDefault();
  modal5.style.display = "block";
    });
/*btn5.onclick = function() {
  alert('yes');
  modal5.style.display = "block";
}*/
span5.onclick = function() {
  modal5.style.display = "none";
}
window.onclick = function(event) {
  if (event.target == modal5) {
    modal5.style.display = "none";
  }
}
  
var modal3 = document.getElementById("myModalRX");
var btn3 = document.querySelector(".pharmacy_half_anchor ul li:nth-child(2) a");
var span3 = document.getElementsByClassName("closing123")[0];
btn3.onclick = function() {
  modal3.style.display = "block";
}
span3.onclick = function() {
  modal3.style.display = "none";
}
window.onclick = function(event) {
  if (event.target == modal3) {
    modal3.style.display = "none";
  }
}
  
var modal4 = document.getElementById("myModalConsult");
var btn4 = document.querySelector(".pharmacy_half_anchor ul li:nth-child(3) a");
var span4 = document.getElementsByClassName("closing1234")[0];
btn4.onclick = function() {
  modal4.style.display = "block";
}
span4.onclick = function() {
  modal4.style.display = "none";
}
window.onclick = function(event) {
  if (event.target == modal4) {
    modal4.style.display = "none";
  }
}
  </script>
  {% endif %}


  
  <script>
  
  document.getElementById('contact_file').addEventListener('change', function() {
  var fileName = this.files[0].name;
  document.getElementById('file-label').textContent = fileName;
});

var modal1 = document.getElementById("myForm1");
var btn1 = document.getElementById("viewForm");
var span1 = document.getElementsByClassName("closing2")[0];
btn1.onclick = function() {
  modal1.style.display = "block";
}
span1.onclick = function() {
  modal1.style.display = "none";
}
window.onclick = function(event) {
  if (event.target == modal1) {
    modal1.style.display = "none";
  }
}
  $('#contact_file').on('change', function() {
        var fileData = new FormData();
        var file = $('#contact_file')[0].files[0];
        fileData.append('file', file);
        var serverBasePath= "https://vanguardfixtures.com";
        $.ajax({
            url: serverBasePath+'/images/upload.php', 
            type: 'POST',
            data: fileData,
            processData: false,
            contentType: false,
            success: function(response) {
                console.log('File uploaded successfully');
                console.log(response);
                var res= JSON.parse(response);
                console.log(res.status);
                $('#image_path').val(serverBasePath+'/images/'+res.file_path);
            },
            error: function(xhr, status, error) {
                console.log('File upload failed');
                console.log(error);
            }
        });
    });
</script>
            {% endif %}
            
          
        </div>        
      </div>
</div>
{% schema %}
  {
    "name": "Gandola Text Half",
    "tag": "section",
    "class": "gandola-text-half",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Main Heading"
      },
      {
          "type": "richtext",
          "id": "text_cont",
          "label": "Content"
      },
      {
        "type": "text",
        "id": "button_label",
        "label": "Button Label"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button Link"
      },
        {
          "type": "text",
          "id": "custom_class",
          "label": "Custom Class"
        }       
    ],
    "presets": [
      {
        "name": "Gandola Text Half"
      }
    ]
  }
{% endschema %}