<style>
    .benefits-icons .col-lg-4.p-0 {
    padding: 0 20px !important;
}
  .benefits-icons .heading{
    text-align: center;
    margin-bottom: 35px !important
  }
  .benefits-icons .benefits-col-wrap {
    text-align: center;
}
  .benefits-icons .benefits-col-wrap .image_content {
    //background: #CC0000;
    height: 75px;
    width: 75px;
    margin: 0 auto;
    border-radius: 50%;
    //padding: 20px;
}
  .benefits-icons .benefits-col-wrap span.benefits_heading {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}
  .benefits-icons .benefits_data {
    margin-top: 10px;
}
span.benefits_content p {
    clear: both;
    font-size: 12px !important;
    padding: 10px 0;
}
  .benefits-icons .common-btnBtn-bookConsultation.text-center a.common-btn {
    font-weight: 600 !important;
    letter-spacing: 0;
    font-size: 20px !important;
    border-radius: 0 !important;
    padding-left: 20px;
    border: 2px solid #000;
}
  .benefits-icons .common-btn.btn.btnBlack.btnLg{
    background-color: #CC0000 !important;
  }

  @media only screen and (min-width: 601px){
    div#benefitsSlider {
      display: flex !important;
    }
  }
  @media only screen and (max-width: 600px){
    div#benefitsSlider {
      width: auto !important;
    }
        button.owl-prev {
        left: 5px !important;
    }
        button.owl-next {
        right: 5px !important;
    }
  }
</style>
{% capture section_style_attr %}
  style="padding-top:{{ section.settings.padding_top }}px !important;padding-bottom:{{ section.settings.padding_bottom }}px !important;"
{% endcapture %}
<div class="container p-0" {{ section_style_attr }}>
  {% if section.settings.heading != blank %}
    <h2 class="heading">{{ section.settings.heading }}</h2>
  {% endif %}
<div class="col-lg-12 ">
  <div class="row owl-carousel owl-theme" id="benefitsSlider">
    {% assign a = 1 %}
    {% for block in section.blocks %}
      <div class="col-lg-4 item">
        <div
          class="benefits-col-wrap partner"
          
        >
          {% comment %}
          {% render 'responsive-image' with block.settings.benefits_image, alt: block.settings.benefits_image.alt, class: 'benefits-icon__image', default_size: '80x' %}
          {% endcomment %}
          <div class="image_content">
          <img src="{{ block.settings.benefits_image | img_url: 'master' }}" class="benefits-icon__image">
          </div>
          <div class="benefits_data">
            {% if block.settings.benefits_heading != blank %}
              <span class="benefits_heading">
                {{ block.settings.benefits_heading }}
              </span>
            {% endif %}
            {% if block.settings.benefits_cont != blank %}
              <span class="benefits_content">
                {{ block.settings.benefits_cont }}
              </span>
            {% endif %}
          </div>
        </div>
      </div>
      {% assign a = a | plus: 1 %}
      {% if a == 5 %}
        {% assign a = 1 %}
      {% endif %}
    {% endfor %}
  </div>
  </div>
  
  {% if section.settings.button_label != blank and section.settings.button_link != blank %}
    <div class="row">
      <div class="col-md-12">
        <div class="common-btnBtn-bookConsultation text-center">
          <a href="{{ section.settings.button_link }}" class="common-btn btn btnBlack btnLg">
            {{- section.settings.button_label -}}
          </a>
        </div>
      </div>
    </div>
  {% endif %}
</div>

      {% comment %}
<script>
  const scrollers1 = document.querySelectorAll(".scroller1");

  // If a user hasn't opted in for recuded motion, then we add the animation
  if (!window.matchMedia("(prefers-reduced-motion: reduce)").matches) {
    addAnimation1();
  }
  
  function addAnimation1() {
    scrollers1.forEach((scroller) => {
      // add data-animated="true" to every `.scroller` on the page
      scroller.setAttribute("data-animated", true);
  
      // Make an array from the elements within `.scroller-inner`
      const scrollerInner = scroller.querySelector(".scroller__inner1");
      const scrollerContent = Array.from(scrollerInner.children);
  
      // For each item in the array, clone it
      // add aria-hidden to it
      // add it into the `.scroller-inner`
      scrollerContent.forEach((item) => {
        const duplicatedItem = item.cloneNode(true);
        duplicatedItem.setAttribute("aria-hidden", true);
        scrollerInner.appendChild(duplicatedItem);
      });
    });
  }
</script>
      {% endcomment %}
{% schema %}
{
  "name": "Benefits Trust Icons",
  "tag": "section",
  "class": "benefits-icons",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Main Heading"
    },
     {
      "type": "text",
      "id": "button_label",
      "label": "Button Label"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button Link"
    },
        {
          "type": "range",
          "id": "padding_top",
          "label": "Padding top",
          "min": 0,
          "max": 200,
          "step": 2,
          "unit": "px",
          "default": 50
        },
        {
          "type": "range",
          "id": "padding_bottom",
          "label": "Padding bottom",
          "min": 0,
          "max": 200,
          "step": 2,
          "unit": "px",
          "default": 50
        }
  ],
  "blocks": [
    {
      "type": "benefits",
      "name": "benefits",
      "settings": [
        {
          "type": "image_picker",
          "id": "benefits_image",
          "label": "benefits Image"
        },
        {
          "type": "text",
          "id": "benefits_heading",
          "label": "Benefits Heading"
        },
        {
          "type": "richtext",
          "id": "benefits_cont",
          "label": "Benefits Content"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Benefits Trust Icons"
    }
  ]
}
{% endschema %}
