<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
<style>
.hover-over-image .container {
  /*position: relative;
  z-index: 99;
  display: block;
  padding-bottom: 30%;
  //background-image: url("{{ section.settings.hover_image | img_url: 'master' }}") !important;
  background-repeat: no-repeat;
  background-position: center;*/
  text-align:center;
    position: relative;
}
.hover-over-image .container {
    text-align: center;
  padding-right: 0;
    padding-left: 0;
  width: 100%;
    max-width: 100%;
}
.hotspots {
  /*position: absolute;
  display: block;
  width: 30px;
  height: 30px;
  overflow: hidden;
  border-radius: 50%;
  background-color: #994e77;
  color: white;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  backface-visibility: hidden;
  transition: all 0.3s ease, border-radius 0.1s ease;*/
      position: absolute;
    display: block;
    width: 0;
    height: 0;
   // border-left: 12px solid transparent;
   // border-right: 12px solid transparent;
   // border-bottom: 25px solid #e90809;
  cursor: pointer;
}

.hotspots.open {
  /*border-radius: 0;
  width: 300px;
  height: 250px;
  max-height: 300px;
  transition: all 0.3s ease, border-radius 0.1s ease;*/
}

.hotspots.open .icon {
  transform: rotate(45deg);
}

.hotspots.open .content {
  opacity: 1;
  transition: opacity 0.2s ease 0.2s;
}

.hotspots .icon {
  position: absolute;
  display: block;
  width: 30px;
  height: 30px;
  overflow: hidden;
  //font-size: 20px;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s ease; 
  //right: -15px;
}

.hotspots.open .icon {
  transform: translate(-50%, -50%) rotate(45deg); 
}

.hotspots .content {
  position: absolute;
  top: 30px;
  left: 30px;
  margin: 0;
  overflow: auto;
  height: 240px;
  width: 240px;
  opacity: 0;
  transition: opacity 0.1s ease 0s;
}

.hotspots .content h4 {
  margin: 0 0 10px 0;
}

.hotspots .content p {
  margin: 0 0 30px 0;
}

.hotspots .content .btn {
  padding: 10px 20px;
  line-height: 20px;
  background-color: white;
  color: black;
  text-decoration: none;
  box-shadow: 0px 0px 5px #422133;
}

.hotspots.left-top .icon {
  top: 0;
  left: 0;
}

.hotspots.right-top .icon {
  left: auto;
  top: 0;
  right: 0;
}

.hotspots.left-bottom .icon {
  left: 0;
  bottom: 0;
}

.hotspots.right-bottom .icon {
  bottom: 0;
  right: 0;
}
.hotspots.open .content {
    z-index: 999999;
    background: #fff;
    padding: 20px;
    left: 0;
    top: 0;
}
  .hotspots.open {
    //border-bottom: 0 !important;
}
.triangle {
    -webkit-text-stroke: 5px #e90809;
    color: transparent;
    font-size: 30px;
}
  .hover-over-image.hover_buttons_half img.main_hotspot_image {
    width: 100%;
}
  .catalog_btn img {
    width: 40px;
        vertical-align: bottom;
}
  .catalog_btn {
    position: absolute;
    bottom: 10%;
    left: 2%;
    border: 2px solid #000;
    padding: 5px 15px;
    border-radius: 10px;
}
  span.catalog_txt {
    text-transform: uppercase;
    font-weight: 600;
    display: inline-block;
    text-align: left;
    line-height: 1.25;
}

#myModalPdf{
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

#myModalPdf .modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80% !important;
  height: 80%;
}

#myModalPdf .closing {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  text-align: right;
}

#myModalPdf .closing:hover,
#myModalPdf .closing:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#catalogBtn{
  cursor: pointer;
}
@media only screen and (max-width: 520px){
    .catalog_btn {
      bottom: 0 !important;
    }
  }
@media only screen and (min-width: 1000px){
  .shopify-section.hover-buttons.hover-buttons-half {
    width: 60% !important;
    float: left;
}
}
</style>

<div class="hover-over-image {{ section.settings.custom_class }}">  
  <div class='container'>
    <img src="{{ section.settings.hover_image | img_url: 'master' }}" class="main_hotspot_image">
    {% for block in section.blocks %}
   {% assign styles = '' %}
      {% if block.settings.space_bottom != 0 %}{% assign styles = styles | append: 'bottom:' | append: block.settings.space_bottom | append: '%;' %}{% endif %}
      {% if block.settings.space_top != 0 %}{% assign styles = styles | append: 'top:' | append: block.settings.space_top | append: '%;' %}{% endif %}
      {% if block.settings.space_left != 0 %}{% assign styles = styles | append: 'left:' | append: block.settings.space_left | append: '%;' %}{% endif %}
      {% if block.settings.space_right != 0 %}{% assign styles = styles | append: 'right:' | append: block.settings.space_right | append: '%;' %}{% endif %}
      
    <div class='hotspots' style='{{ styles }}'>
      <div class='icon triangle'>&#9650;</div>
      <div class='content'>
        {% if block.settings.heading_title != blank %} 
          <h4>{{ block.settings.heading_title }}</h4> 
          {% endif %}
         {% if block.settings.description_content != blank %} 
           <p>{{ block.settings.description_content }}</p>
          {% endif %}
        {% if block.settings.button__txt != blank %}
        <a class='btn' href='{{ block.settings.Button }}'>
          {{ block.settings.button__txt }}
        </a>
        {% endif %}
      </div>
    </div>
    {% endfor %}
    {% comment %}
    <div class="catalog_btn">
      <div class="catalog_inner_txt" id="catalogBtn">
        <img src="{{ 'open-book.png' | asset_url }}"/>
        <span class="catalog_txt">View </br>Catalog</span>
      </div>
    </div>
    {% endcomment %}
  </div>
</div>

    {% comment %}
<div id="myModalPdf" class="modal">
  <div class="modal-content">
    <span class="closing">&times;</span>
    <embed src="https://cdn.shopify.com/s/files/1/0784/4941/0346/files/Modern_Store_Shelving_Planning_Guide.pdf?v=1719397666" frameborder="0" width="100%" height="90%">
  </div>
</div>

<script>
var modal = document.getElementById("myModalPdf");
var btn = document.getElementById("catalogBtn");
var span = document.getElementsByClassName("closing")[0];
btn.onclick = function() {
  modal.style.display = "block";
}
span.onclick = function() {
  modal.style.display = "none";
}
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>
    {% endcomment %}

{% schema %}
  {
    "name": "Hover Over Buttons Half",
    "tag": "section",
    "class": "hover-buttons hover-buttons-half",
    "settings": [
        {
          "type": "image_picker",
          "id": "hover_image",
          "label": "Main Image"
        },
        {
          "type": "text",
          "id": "custom_class",
          "label": "Custom Class"
        }      
    ],
    "blocks": [
      {
        "type": "hotspot",
        "name": "Hotspot",
        "settings": [
          {
            "type": "richtext",
            "label": "Heading",
            "id": "heading_title"
          },
          {
            "type": "richtext",
            "label": "Description",
            "id": "description_content"
          },
          {
            "type": "text",
            "label": "Button Title",
            "id": "button__txt"
          },
          {
            "type": "url",
            "label": "Button Url",
            "id": "button_url"
          },
          {
            "type": "range",
            "id": "space_top",
            "min": 0,
            "max": 100,
            "step": 1,
            "label": "top",
            "default": 0
          },
          {
            "type": "range",
            "id": "space_bottom",
            "min": 0,
            "max": 100,
            "step": 1,
            "label": "Bottom",
            "default": 0
          },
          {
            "type": "range",
            "id": "space_right",
            "min": 0,
            "max": 100,
            "step": 1,
            "label": "right",
            "default": 0
          },
          {
            "type": "range",
            "id": "space_left",
            "min": 0,
            "max": 100,
            "step": 1,
            "label": "left",
            "default": 0
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Hover Over Buttons Half"
      }
    ]
  }
{% endschema %}
<script>
// $('.hotspots .icon').hover(function() {
//   var $parent = $(this).parent();
//   $parent.toggleClass('open');
//   $('.hotspots.open').not($parent).removeClass('open');

// });

// $('.hotspots').each(function(e, i) {
//   var $this = $(this);
//   var css = detectPosition($this, e);
//   $(this).addClass(css.css).attr('style', css.styles);
// });
 $('.hotspots .icon').on('mouseenter', function() {
    var $parent = $(this).parent();
    $parent.addClass('open');
    $('.hotspots').not($parent).removeClass('open');
  });

  $('.hotspots').on('mouseleave', function() {
    $(this).removeClass('open');
  });
function detectPosition($elem, ind) {
  var container = $('.hover-over-image .container'),
    height = container.innerHeight(),
    width = container.innerWidth(),
    p = $elem.position(),
    x = p.left,
    y = p.top,
    w = $elem.width(),
    h = $elem.height(),

    cssClass = [],
    style = '';

  if (x >= width / 2) { // Right half
    cssClass.push('right');
    style += 'right:' + ((width - x - w) / width * 100) + '%;left: auto;';

  } else { // Left half
    cssClass.push('left');
    style += 'left:' + (x / width * 100) + '%;right: auto;';

  }

  if (y >= height / 2) { // Lower half
    cssClass.push('bottom');
    style += 'bottom:' + ((height - y - h) / height * 100) + '%;top: auto;';

  } else { // Upper half
    cssClass.push('top');
    style += 'top:' + (y / height * 100) + '%;bottom: auto;';
  }

  return {
    css: cssClass.join('-'),
    styles: style
  };
}
</script>
