{{ 'section-info-columns.min.css' | asset_url | stylesheet_tag }}
<!--
  {{ 'slick-min.css' | asset_url | stylesheet_tag }}
  <script async src="{{ 'track-record.js' | asset_url }}"></script>
  <script async src="{{ 'slick.min.js' | asset_url }}"></script>
  <script async src="{{ 'enquire.min.js' | asset_url }}"></script>
-->

{% capture section_style_attr %}
  style="padding-top:{{ section.settings.padding_top }}px;padding-bottom:{{ section.settings.padding_bottom }}px;"
{% endcapture %}

<style>
  .info-columns .swiper-container {
    z-index: 0;
  }
</style>

{% case section.settings.colors %}
  {% when 'white' %}
    {% assign color_scheme_class = 'homepage-sections-wrapper--white' %}
  {% when 'light' %}
    {% assign color_scheme_class = 'homepage-sections-wrapper--light' %}
  {% when 'accent' %}
    {% assign color_scheme_class = 'homepage-sections-wrapper--accent' %}
  {% when 'dark' %}
    {% assign color_scheme_class = 'homepage-sections-wrapper--dark' %}
{% endcase %}

<section
  class="homepage-sections-wrapper home-icon-section comm-padd {{ color_scheme_class }}"
  data-wetheme-section-type="info-columns"
  data-wetheme-section-id="{{ section.id }}"
  data-slides-per-row="{{ section.settings.columns_per_row }}"
  {{ section_style_attr }}
>
  <div class="container">
    {% if section.settings.heading != blank %}
      <div class="title-bar section-header-padding custom-font">
        {% if section.settings.heading != blank %}
          <h2 class="wow fadeIn">{{ section.settings.heading | escape }}</h2>
        {% endif %}
      </div>
    {% endif %}

    <div class="swiper-container">
      <div class="row swiper-wrapper news-slidecnt">
        {% for block in section.blocks %}
          <div class="col-md-4 info-column icon-col grid__item">
            {% if block.settings.image != blank %}
              <div class="icon-img-wrap">
                <img src="{{ block.settings.image | img_url: 'master' }}" class="icon-image" alt="{{ block.settings.image.alt }}">
              </div>
            {% endif %}
            <div class="icon-col-content">
              {% if block.settings.record != 'blank' %}
                <h2 class="type-heading type-heading--1 info-columns--title">
                  <span class="count">{{ block.settings.record }}</span>
                  <span class="track_record">{{ block.settings.record_span }}</span>
                </h2>
              {% endif %}
              {% if block.settings.record_title != blank %}
                <h4 class="type-subheading type-subheading--1 info-columns--title">
                  {{ block.settings.record_title }}
                </h4>
              {% endif %}
              {% if block.settings.description != blank %}
                <div class="info-columns--text">{{ block.settings.description }}</div>
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
<!--
  <div><span class="count">1000</span></div>
  <div><span class="count">4711</span></div>
  <div><span class="count">0815</span></div>
-->
{% schema %}
{
	"name": "Track record",
    "tag": "section",
	"class": "section--info-columns",
	"settings": [
		{
            "type": "select",
            "id": "colors",
            "label": "Select Color",
            "default": "white",
            "options": [
                {
                    "value": "white",
                    "label": "White"
                },
                {
                    "value": "light",
                    "label": "Light"
                },
                {
                    "value": "accent",
                    "label": "Accent"
                },
                {
                    "value": "dark",
                    "label": "Dark"
                }
            ]
        },
        {
            "type": "text",
            "id": "heading",
            "label": "Track record"
        },
		{
			"type": "header",
			"content": "Section spacing"
		},
		{
			"type": "range",
			"id": "padding_top",
			"label": "Padding top",
			"min": 0,
			"max": 200,
			"step": 2,
			"unit": "px",
			"default": 50
		},
		{
			"type": "range",
			"id": "padding_bottom",
			"label": "Padding bottom",
			"min": 0,
			"max": 200,
			"step": 2,
			"unit": "px",
			"default": 50
		}
	],
	"blocks": [
      {
        "type": "Records",
        "name": "records",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Record Image"
          },
          {
            "type": "text",
            "id": "record",
            "label": "Record ( It's only support number not [,/?. etc.] )"
          },
          {
            "type": "text",
            "id": "record_span",
            "label": "Record Counter"
          },
          {
            "type": "text",
            "id": "record_title",
            "label": "record Title"
          },
          {
            "type": "textarea",
            "id": "description",
            "label": "Record Description"
          }
        ]
      }
    ],
	"presets": [
		{
			"name": "Track record"
		}
	],
	"disabled_on": {
		"groups": ["header"]
	}
}
{% endschema %}
<script>
  jQuery(document).ready(function(){
  var $slider =    jQuery(".news-slidecnt");
  enquire.register("screen and (max-width: 767px)", {
    match: function () {
      $slider.slick({
        dots: false,
        autoplay: true,
        autoplaySpeed: 3000,
        arrows: false,


      });
    },
    unmatch: function () {
      if ($slider.hasClass("slick-initialized")) {
        $slider.slick("unslick");
      }
    }
  });

  });
</script>
