<div class="about-banner home-page">
  <div class="inner-banner-img">
    {% if section.settings.banner_image != blank %}
      <img src="{{ section.settings.banner_image | img_url:'master' }}" alt="{{ section.settings.banner_image.alt | escape }}"> 
    {% endif %}
    {% if section.settings.video_url != blank %}
      <video class="banner_video" autoplay loop muted playsinline>
        <source src="{{ section.settings.video_url }}" type="video/mp4">
      </video>
    {% endif %}
  </div>
  <div class="inner-text">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6">
          {% if section.settings.heading != blank %}
            {{ section.settings.heading }}
          {% endif %}
          {% if section.settings.btn_text != blank %}
            <a class="btn slideshow-fade-content" href="{{ section.settings.btn_link }}">
              {{- section.settings.btn_text -}}
            </a>
          {% endif %}
        </div>
        <div class="col-md-6">
          <div class="cont-form">
            {% unless section.blocks.size == 0 %}
              <div class="{% if settings.animations_enabled %} contact-form-wrap wow fadeIn{% if content_header %} delay-1{% endif %}{% endif %}">
                {% if section.settings.form_head != blank %}
                  {{ section.settings.form_head }}
                {% endif %}
                {% if section.settings.form_desc != blank %}
                  {{ section.settings.form_desc }}
                {% endif %}
                {% form 'contact', id: 'RequestForm', class: 'contact-form--form' %}
                  {%- if form.posted_successfully? -%}
                    <script>
                      window.location.replace("https://09d019.myshopify.com/pages/thank-you");
                    </script>
                  {%- endif -%}
                  {% render 'form-errors-custom', form: form %}
                  {% if form.posted_successfully? %}
                    <div class="w-full">
                      <p class="note form-success">
                        {{ 'contact.form.post_success' | t }}
                      </p>
                    </div>
                  {% endif %}

                  {% for block in section.blocks %}
                    {% liquid
                      assign input_wrapper = 'input-wrapper '
                      case block.settings.input_width
                        when 'partial'
                          assign input_width = 'w-partial' | prepend: input_wrapper
                        when 'full'
                          assign input_width = 'w-full' | prepend: input_wrapper
                      endcase

                      assign requiredSymbol = ''
                      if block.settings.required
                        assign requiredSymbol = '*'
                      endif
                    %}

                    {% case block.type %}
                      {% when 'name_input' %}
                        <div class="{{ input_width }}">
                          {% liquid
                            assign nameInputString = 'contact.form.name' | t
                            assign formName = 'contact[' | append: nameInputString | append: ']'
                            assign formId = 'form_' | append: nameInputString | downcase | handleize
                            assign input_attr = 'aria-labelledby="' | append: formId | append: '" data-aid="name-input"'
                            if form.name
                              assign nameInputVal = form.name
                            elsif customer
                              assign nameInputVal = customer.name
                            endif

                            render 'form-input' with type: 'text', has_label: false, animate_label: false, id: formId, value: nameInputVal, name: formName, required: block.settings.required, attributes: input_attr , placeholder: "Name"
                          %}
                        </div>

                      {% when 'email_input' %}
                        <div class="{{ input_width }}">
                          {% liquid
                            assign emailInputString = 'contact.form.email' | t
                            assign formEmailName = 'contact[' | append: emailInputString | downcase | append: ']'
                            assign labelInput = emailInputString | prepend: requiredSymbol
                            assign formId = 'form_' | append: emailInputString | downcase | handleize
                            assign input_attr = 'aria-labelledby="' | append: formId | append: '" data-aid="email-input"'
                            if form.email
                              assign emailInputVal = form.email
                            elsif customer
                              assign emailInputVal = customer.email
                            endif

                            render 'form-input' with type: 'email', has_label: false, animate_label: false, id: formId, value: emailInputVal, name: formEmailName, required: block.settings.required, attributes: input_attr , placeholder: "Email"
                          %}
                        </div>

                      {% when 'tel_input' %}
                        <div class="{{ input_width }}">
                          {% liquid
                            assign telInputString = 'contact.form.phone' | t
                            assign formTelName = 'contact[' | append: telInputString | append: ']'
                            assign labelInput = telInputString | prepend: requiredSymbol
                            assign formId = 'form_' | append: telInputString | downcase | handleize
                            assign input_attr = 'aria-labelledby="' | append: formId | append: '" data-aid="tel-input"'
                            if form.phone
                              assign phoneInputVal = form.phone
                            elsif customer
                              assign phoneInputVal = customer.phone
                            endif

                            render 'form-input' with type: 'tel', has_label: false, animate_label: false, id: formId, value: phoneInputVal, name: formTelName, required: block.settings.required, attributes: input_attr , placeholder: "Phone"
                          %}
                        </div>

                      {% when 'message_input' %}
                        <div class="{{ input_width }}">
                          {% liquid
                            assign msgInputString = 'contact.form.message' | t
                            assign formMsgName = 'contact[' | append: msgInputString | append: ']'
                            assign labelInput = msgInputString | prepend: requiredSymbol
                            assign formId = 'form_' | append: msgInputString | downcase | handleize
                            assign input_attr = 'aria-labelledby="' | append: formId | append: '" data-aid="message-input"'

                            render 'form-input--textarea' with id: formId, name: formMsgName, has_label: false, animate_label: false, attributes: input_attr, required: block.settings.required, content: form.body , placeholder: "Message"
                          %}
                        </div>

                      {% when 'custom_input' %}
                        <div class="{{ input_width }}">
                          {% liquid
                            assign labelInput = block.settings.input_label | prepend: requiredSymbol
                            assign labelHandleize = labelInput | downcase | handleize
                            assign formId = 'form_' | append: labelHandleize
                            assign inputName = 'contact[' | append: labelHandleize | append: ']'
                            assign input_attr = 'aria-labelledby="' | append: formId | append: '" data-aid="' | append: formId | append: '"'
                          %}
                          {% render 'form-input' with type: 'text', has_label: false, animate_label: false, id: formId, value: form.body, name: inputName, required: block.settings.required, attributes: input_attr , placeholder: "Custom Input" %}
                        </div>
                    {% endcase %}
                  {% endfor %}

                  <div class="contact-form--submit-wrapper w-full">
                    <input type="submit" class="btn" value="{{ 'contact.form.send' | t }}">
                  </div>
                {% endform %}
              </div>
            {% else %}
              <div class="placeholder-noblocks{% if settings.animations_enabled %} wow fadeIn{% if content_header %} delay-1{% endif %}{% endif %}">
                {{ 'general.onboarding.no_content' | t }}
              </div>
            {% endunless %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "New Banner",
  "tag": "section",
  "class": "new-banner",
  "settings": [
    {
      "type": "text",
      "id": "video_url",
      "label": "Video Url"
    },
    {
      "type": "image_picker",
      "id": "banner_image",
      "label": "Banner Image"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Banner Heading"
    },
    {
      "type": "text",
      "id": "btn_text",
      "label": "Button Lebel"
    },
    {
      "type": "url",
      "id": "btn_link",
      "label": "Button Link"
    },
    {
      "type": "richtext",
      "id": "form_head",
      "label": "Form Heading"
    },
    {
      "type": "richtext",
      "id": "form_desc",
      "label": "Form Description"
    }
  ],
  "blocks": [
    {
      "name": "Name field",
      "type": "name_input",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "required",
          "label": "Required",
          "default": true
        },
        {
          "type": "select",
          "id": "input_width",
          "label": "Input width",
          "options": [
            {
              "value": "partial",
              "label": "Partial"
            },
            {
              "value": "full",
              "label": "Full"
            }
          ],
          "default": "full"
        }
      ]
    },
    {
      "name": "Email field",
      "type": "email_input",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "required",
          "label": "Required",
          "default": true
        },
        {
          "type": "select",
          "id": "input_width",
          "label": "Input width",
          "options": [
            {
              "value": "partial",
              "label": "Partial"
            },
            {
              "value": "full",
              "label": "Full"
            }
          ],
          "default": "full"
        }
      ]
    },
    {
      "name": "Telephone field",
      "type": "tel_input",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "required",
          "label": "Required",
          "default": false
        },
        {
          "type": "select",
          "id": "input_width",
          "label": "Input width",
          "options": [
            {
              "value": "partial",
              "label": "Partial"
            },
            {
              "value": "full",
              "label": "Full"
            }
          ],
          "default": "full"
        }
      ]
    },
    {
      "name": "Message field",
      "type": "message_input",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "required",
          "label": "Required",
          "default": true
        },
        {
          "type": "select",
          "id": "input_width",
          "label": "Input width",
          "options": [
            {
              "value": "partial",
              "label": "Partial"
            },
            {
              "value": "full",
              "label": "Full"
            }
          ],
          "default": "full"
        }
      ]
    },
    {
      "name": "Custom field",
      "type": "custom_input",
      "limit": 8,
      "settings": [
        {
          "type": "text",
          "id": "input_label",
          "label": "Input name",
          "default": "Order number"
        },
        {
          "type": "checkbox",
          "id": "required",
          "label": "Required",
          "default": false
        },
        {
          "type": "select",
          "id": "input_width",
          "label": "Input width",
          "options": [
            {
              "value": "partial",
              "label": "Partial"
            },
            {
              "value": "full",
              "label": "Full"
            }
          ],
          "default": "full"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "New Banner"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
