<style>
  .tabcontent{
    display: none;
  }
</style>
 {% assign description = product.description %}
<div class="container">
  <div class="common-btnBtn">
    <a href="#" class="common-btn">{{ section.settings.button_lebel }}</a>
  </div>

  <div class="product-other-info-tabs">
    {%- for block in section.blocks -%}
      <div class="productTitle-wrap">
        <p>{{ block.settings['product-infoTitle'] }}</p>
      </div>
      <div class="productInfo-wrap">
        <p>{{ block.settings['product-infoText'] }}</p>
      </div>
    {% endfor %}
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="sell-tab-sec">
        <div class="sell-tab">
          <div class="customTab">
            <div class="customTabList">
              <ul>
                {% assign a = 1 %}
                {% for block in section.blocks %}
                  {% case block.type %}
                    {% when 'card' %}
                      {% if block.settings.heading != blank %}
                        <li>
                          <button
                            class="tablinks {% if a == 1 %}active{% endif %}"
                            onclick="openCity(event, '{{ block.settings.heading }}')"
                          >
                            {{ block.settings.heading }}
                          </button>
                        </li>
                      {% endif %}
                    {% when 'description' %}
                     {% if product.description != blank %}
                    <li>
                      <button class="tablinks" onclick="openCity(event, 'Description')">Product Description</button>
                    </li>
                  {% endif %}
                  {% endcase %}
                  {% assign a = a | plus: 1 %}
                {% endfor %}
              </ul>
            </div>
            <div class="customTabBody">
              {% assign a = 1 %}
              {% for block in section.blocks %}
                {% case block.type %}
                  {% when 'card' %}
                    <div
                      id="{{ block.settings.heading }}"
                      class="tabcontent {% if a == 1 %}active{% endif %}"
                    >
                      {{ block.settings.content }}
                    </div>
                  {% when 'description' %}
                 <div id="Description" class="tabcontent">
                      {{ product.description }}
                    </div>
                {% endcase %}
                {% assign a = a | plus: 1 %}
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  function openCity(evt, cityName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.classList.add("active");
  }

  // Make the first tab active by default
  document.addEventListener("DOMContentLoaded", function() {
    var firstTabButton = document.querySelector(".tablinks");
    firstTabButton.classList.add("active");
    var firstTabContent = document.getElementById(firstTabButton.getAttribute("onclick").split("'")[1]);
    firstTabContent.style.display = "block";
  });
</script>
{% schema %}
{
  "name": "Product Other Info",
  "tag":"section",
  "class":"product-tabInfo section sec-gapTop sec-gapBottom grayBg",
   "max_blocks": 5,
  "settings": [
     {
      "type": "text",
      "id": "button_lebel",
      "label": "Button Lebel"
    }
 ],

   "blocks": [
  {
    "type": "card",
    "name": "info",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading"
      },
       {
        "type": "richtext",
        "id": "content",
        "label": "Content"
      }
    ]
  },
     {
       "type": "description",
       "name": "Description",
       "limit": 1
     }
],
        "presets": [
  {
    "name": "Products other info"
  }
]
}
{% endschema %}
