<style>
  .desTable h4 {
    text-transform: uppercase;
  }
</style>
<div class="main-titleSpec center">
  <div class="container">
    <div class="row">
      {% if section.settings.button_lebel != blank %}
        <div class="col-md-12 text-center">
          <h2>{{ section.settings.button_lebel }}</h2>
        </div>
      {% endif %}
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12 mb-4">
      <h4>{{ section.settings.dimensions_lebel }}</h4>

      <div class="table-responsive">
        <table class="table table-striped table-dimentions">
          {% assign loopvar = 1 %}
          {% assign col_count = 0 %}
          {% for i in (1..60) %}
            {% capture dimention_title %}product_dimensions_title_{{ loopvar }}{% endcapture %}
            {% capture dimention_value %}product_dimensions_value_{{ loopvar }}{% endcapture %}

            {% capture dimention_title_nxt %}product_dimensions_title_{{ loopvar | plus: 1 }}{% endcapture %}
            {% capture dimention_value_nxt %}product_dimensions_value_{{ loopvar | plus: 1 }}{% endcapture %}

            {% assign dim_title = product.metafields.custom[dimention_title] %}
            {% assign dim_val = product.metafields.custom[dimention_value] %}

            {% assign dim_title_nxt = product.metafields.custom[dimention_title_nxt] %}
            {% assign dim_val_nxt = product.metafields.custom[dimention_value_nxt] %}

            {% if dim_title != blank and dim_val != blank %}
              {% if col_count < 4 %}
                <td>{{ dim_title }}</td>
                <td>{{ dim_val }}</td>
                {% assign col_count = col_count | plus: 2 %}
              {% else %}
                </tr>
                <tr>
                  <td>{{ dim_title }}</td>
                  <td>{{ dim_val }}</td>
                  {% assign col_count = 2 %}
              {% endif %}
            {% endif %}

            {% if dim_title_nxt != blank and dim_val_nxt != blank %}
              {% if col_count < 4 %}
                <td>{{ dim_title_nxt }}</td>
                <td>{{ dim_val_nxt }}</td>
                {% assign col_count = col_count | plus: 2 %}
              {% else %}
                </tr>
                <tr>
                  <td>{{ dim_title_nxt }}</td>
                  <td>{{ dim_val_nxt }}</td>
                  {% assign col_count = 2 %}
              {% endif %}
            {% endif %}
            {% assign loopvar = loopvar | plus: 2 %}
          {% endfor %}
          {% if col_count < 4 %}
            {% assign remaining = 4 | minus: col_count %}
            {% for i in (1..remaining) %}
              <td></td>
            {% endfor %}
          {% endif %}
        </table>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12 mb-4">
      <h4>{{ section.settings.details_lebel }}</h4>

      <div class="table-responsive">
        <table class="table table-striped table-details">
          {% assign loopvar = 1 %}
          <tr>
            {% assign col_count = 0 %}
            {% for i in (1..200) %}
              {% capture details_title %}product_details_title_{{ loopvar }}{% endcapture %}
              {% capture details_value %}product_details_value_{{ loopvar }}{% endcapture %}
              {% assign details_title = product.metafields.custom[details_title] %}
              {% assign details_val = product.metafields.custom[details_value] %}

              {% if details_title != blank and details_val != blank %}
                {% if col_count == 4 %}
                  {% assign col_count = 0 %}
                  </tr>
                  <tr>
                {% endif %}
                <td>{{ details_title }}</td>
                <td>{{ details_val }}</td>
                {% assign col_count = col_count | plus: 2 %}
              {% endif %}
              {% assign loopvar = loopvar | plus: 1 %}
            {% endfor %}
            {% if col_count < 4 %}
              {% assign remaining = 4 | minus: col_count %}
              {% for i in (1..remaining) %}
                <td></td>
              {% endfor %}
            {% endif %}
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12 mb-4">
      <h4>{{ section.settings.warranty_lebel }}</h4>

      <div class="table-responsive">
        <table class="table table-striped table-warrenty">
          {% assign loopvar = 1 %}
          {% for i in (1..60) %}
            {% capture warranty_title %}product_warranty_title_{{ loopvar }}{% endcapture %}
            {% capture warranty_value %}product_warranty_value_{{ loopvar }}{% endcapture %}

            {% capture warranty_title_nxt %}product_warranty_title_{{ loopvar | plus: 1 }}{% endcapture %}
            {% capture warranty_value_nxt %}product_warranty_value_{{ loopvar | plus: 1 }}{% endcapture %}

            {% assign wrnt_title = product.metafields.custom[warranty_title] %}
            {% assign wrnt_val = product.metafields.custom[warranty_value] %}

            {% assign wrnt_title_nxt = product.metafields.custom[warranty_title_nxt] %}
            {% assign wrnt_val_nxt = product.metafields.custom[warranty_value_nxt] %}

            {% if wrnt_title != blank and wrnt_val != blank %}
              <tr>
                <td>{{ wrnt_title }}</td>
                <td>{{ wrnt_val }}</td>

                <td>{{ wrnt_title_nxt }}</td>
                <td>{{ wrnt_val_nxt }}</td>
              </tr>
            {% endif %}
            {% assign loopvar = loopvar | plus: 2 %}
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Specifications table",
  "tag": "section",
  "class": "desTable section sec-gapTopSm sec-gapBottom grayBg",
  "settings": [
    {
      "type": "text",
      "id": "button_lebel",
      "label": "Button Lebel"
    },
    {
      "type": "text",
      "id": "dimensions_lebel",
      "label": "Dimension Lebel",
      "default": "Dimensions"
    },
    {
      "type": "text",
      "id": "details_lebel",
      "label": "Details Lebel",
      "default": "Details"
    },
    {
      "type": "text",
      "id": "warranty_lebel",
      "label": "Warranty Lebel",
      "default": "WARRANTY / CERTIFICATIONS"
    }
  ],

  "presets": [
    {
      "name": "Specifications table"
    }
  ]
}
{% endschema %}
